@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs -->

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
                    <li><strong>My Account</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
@*<section class="main-container col1-layout">
    <div class="main container">
        <div class="page-content">
            <h2>Manage your account</h2>

            <div>
                <h4>Change your account settings</h4>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        @await Html.PartialAsync("_ManageNav")
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <aside class="left sidebar col-sm-3 col-xs-12">
                <div class="sidebar-account block">
                    <div class="sidebar-bar-title">
                        <h3>My Account</h3>
                    </div>
                    <div class="block-content">
                        @await Html.PartialAsync("_ManageNav")
                    </div>
                </div>
            </aside>
            <div class="col-main col-sm-9 col-xs-12">
                @RenderBody()
            </div>

        </div>
    </div>
</section>




@section Scripts {
    @RenderSection("Scripts", required: false)
}
