@using OSM.Views.Manage
@inject SignInManager<AppUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li><a asp-action="Index">Profile</a></li>
    @if (hasExternalLogins == true)
    {
        <li><a asp-action="ChangePassword">Password</a></li>
    }
    <li>
        <a asp-action="Order">Order Information</a>

    </li>
</ul>